.cabecera {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap; }
  .cabecera .cabecera__imagen {
    margin: 1px auto;
    align-self: center;
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 20px; }
  .cabecera .navbar {
    padding: 2px; }
    .cabecera .navbar .nav-item {
      padding: 0px 40px; }
      .cabecera .navbar .nav-item .nav-link {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: "Montserrat", sans-serif;
        color: #c0bdbd;
        text-decoration: none; }
      .cabecera .navbar .nav-item .active {
        color: white; }
  .cabecera .textoinicio {
    text-align: center; }

@media (max-width: 767px) {
  .logofotoPrincipal {
    width: 210px;
    height: 120px; }
  .textoinicio {
    text-align: center;
    font-size: 16px; } }

@media (max-width: 359px) {
  .logofotoPrincipal {
    width: 180px;
    height: 100px; }
  .textoinicio {
    text-align: center;
    font-size: 14px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .textoinicio {
    text-align: center;
    font-size: 22px; } }

#carouselExampleDark {
  width: 550px;
  height: 599px;
  border: solid black 3px;
  margin: auto;
  margin-top: 20px; }

.instagram__publicacion {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 80px; }

.instagramlogomed {
  height: 90px;
  width: 110px;
  margin-top: 250px;
  padding-left: 10px;
  padding-right: 20px;
  margin-right: 60px;
  margin-left: 20px; }

.textoseguinos {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 900;
  margin-top: 270px; }

.fotoinstagramResponsive {
  display: none; }

.textocarousel {
  font-family: 'Montserrat', sans-serif;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  color: white;
  font-size: 45px;
  font-weight: 400; }

.descripcionTextocarousel {
  font-family: 'Montserrat', sans-serif;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  color: white;
  font-weight: 900;
  font-size: 30px; }

.btn-dark {
  display: none; }

@media (max-width: 767px) {
  #carouselExampleDark {
    width: 260px;
    height: 283px; }
  .textocarousel {
    font-size: 25px; }
  .descripcionTextocarousel {
    font-size: 15px; }
  .instagram__publicacion {
    flex-direction: column;
    margin-top: 50px; }
  .instagramlogomed {
    height: 50px;
    width: 80px;
    margin: auto; }
  .textoseguinos {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin: auto; }
  .instagrammedia {
    width: 150px;
    height: 200px;
    margin: auto;
    margin-bottom: 350px;
    margin-top: 50px;
    margin-right: 200px; }
  .btn-dark {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    padding: 20; }
  .productosBoton {
    text-decoration: none;
    color: white; } }

@media (max-width: 359px) {
  #carouselExampleDark {
    width: 260px;
    height: 284px; }
  .textocarousel {
    font-size: 25px; }
  .descripcionTextocarousel {
    font-size: 15px; }
  .instagram__publicacion {
    flex-direction: column;
    margin-top: 50px; }
  .instagramlogomed {
    height: 50px;
    width: 80px;
    margin: auto; }
  .textoseguinos {
    font-size: 32px;
    margin: auto; }
  .fotoinstagramResponsive {
    display: flex;
    width: 280px;
    height: 350px;
    margin-bottom: 50px;
    margin-left: 22px;
    margin-top: 20px; }
  .instagrammedia {
    display: none; }
  .btn-dark {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    padding: 20; }
  .productosBoton {
    text-decoration: none;
    color: white; } }

@media (min-width: 768px) and (max-width: 992px) {
  #carouselExampleDark {
    width: 400px;
    height: 435px;
    border: solid black 4px; }
  .textocarousel {
    font-size: 30px; }
  .descripcionTextocarousel {
    font-size: 25px; }
  .instagram__publicacion {
    flex-direction: row;
    margin-top: 50px; }
  .instagramlogomed {
    height: 80px;
    width: 100px;
    padding-left: 5px;
    margin-right: 30px; }
  .textoseguinos {
    font-size: 50px;
    margin-top: 260px;
    margin-left: 200px; }
  .instagrammedia {
    width: 150px;
    height: 200px;
    margin: auto;
    margin-bottom: 350px;
    margin-top: 50px;
    margin-right: 350px; } }

.preciogaleria {
  text-align: center;
  font-family: 'Montserrat', sans-serif; }

.nombreproducto {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px; }

.nombreproducto:hover {
  color: #7E4510;
  cursor: pointer;
  text-decoration: underline; }

.precioproducto {
  font-size: 21px;
  font-weight: 900;
  text-align: center;
  font-family: 'Montserrat', sans-serif; }

.precioproductoComun {
  font-size: 21px;
  font-weight: 900;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-decoration: line-through; }

.precioproductoOferta {
  color: #bd0606;
  font-size: 21px;
  font-weight: 900;
  text-align: center;
  font-family: 'Montserrat', sans-serif; }

#galeria img {
  width: 100%;
  height: 350px;
  border: solid 3px black; }

#galeria .col-lg-4 {
  margin: 0;
  padding: 25px; }

.listaproductos {
  display: block;
  margin-top: 70px; }

.listaproductos li {
  font-size: 16px;
  text-align: left;
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  line-height: 30px;
  letter-spacing: 0px;
  color: black;
  opacity: .7;
  transition: .3s ease opacity; }

.listaproductos li:hover {
  opacity: 1;
  cursor: pointer; }

.talles {
  margin-top: 100px;
  text-align: left; }

.tallestexto {
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px; }

.categorias {
  text-align: left; }

.categoriastexto {
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px; }

.container {
  padding: 45px 20px; }

@media (max-width: 767px) {
  .categoriastexto {
    font-size: 18px;
    text-align: center;
    margin-right: 25px;
    margin-top: -45px; }
  .tallestexto {
    font-size: 18px;
    margin-top: -60px;
    text-align: center;
    margin-right: 25px; }
  .talles {
    margin-bottom: -40px; }
  .listaproductos li {
    font-size: 13px;
    text-align: center;
    margin-right: 25px; }
  .precioproducto {
    font-size: 15px; }
  .precioproductoComun {
    font-size: 15px; }
  .precioproductoOferta {
    font-size: 15px; } }

@media (max-width: 359px) {
  #galeria img {
    height: 300px; }
  .categoriastexto {
    font-size: 14px;
    margin-top: -60px; }
  .tallestexto {
    font-size: 14px;
    margin-top: -60px; }
  .talles {
    margin-bottom: -40px; }
  .listaproductos li {
    font-size: 13px; }
  .nombreproducto {
    font-size: 11px; }
  .precioproducto {
    font-size: 15px; }
  .precioproductoComun {
    font-size: 15px; }
  .precioproductoOferta {
    font-size: 15px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .categoriastexto {
    font-size: 28px;
    margin-right: 25px;
    margin-top: -45px;
    text-align: center; }
  .tallestexto {
    font-size: 28px;
    margin-top: -60px;
    margin-right: 25px;
    text-align: center; }
  .talles {
    margin-bottom: -40px; }
  .listaproductos li {
    font-size: 22px;
    text-align: center;
    margin-right: 25px;
    margin-top: 10px; }
  .nombreproducto {
    font-size: 18px; } }

.veranoinvierno {
  margin-top: 30px;
  text-align: center; }
  .veranoinvierno .verano {
    border: solid 4px black;
    background-color: black;
    color: white;
    margin: 10px;
    text-align: center;
    padding: 4px; }
  .veranoinvierno .verano:hover {
    cursor: pointer; }
  .veranoinvierno .invierno:hover {
    border: solid 4px black;
    background-color: black;
    color: white;
    margin: 10px;
    text-align: center;
    padding: 4px;
    cursor: pointer; }

.coleccionveranologo {
  width: 300px;
  height: 260px;
  margin-top: 10px;
  margin: auto;
  margin-bottom: -20px; }

#galeriacolecciones img {
  width: 100%;
  height: 350px; }
  #galeriacolecciones img:hover {
    border: 3px solid #c05b07;
    cursor: pointer; }

#galeriacolecciones .col-lg-4 {
  margin: 0;
  padding: 25px; }

@media (max-width: 767px) {
  #galeriacolecciones .fotosColecciones {
    width: 100%;
    height: 300px; }
  .coleccionveranologo {
    width: 210px;
    height: 190px;
    margin-top: 40px; } }

@media (max-width: 359px) {
  #galeriacolecciones .fotosColecciones {
    width: 100%;
    height: 280px; }
  .coleccionveranologo {
    width: 200px;
    height: 180px;
    margin-top: 40px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .coleccionveranologo {
    width: 230px;
    height: 220px;
    margin-top: 40px; }
  .verano {
    font-size: 30px; }
  .invierno {
    font-size: 30px; } }

.quienessomosContenedor {
  background-image: url("../imagenes/ropaquienessomos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  opacity: 0.8; }

.TituloQuienesSomos {
  text-align: left;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  letter-spacing: 5px;
  padding: 50px;
  text-decoration: underline 4px white; }

.textodivqs {
  display: flex;
  justify-content: center;
  margin: 30px;
  flex-direction: row; }
  .textodivqs .InfoQuienesSomos {
    text-align: left;
    font-size: 18px;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-top: 160px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px; }
    .textodivqs .InfoQuienesSomos .texto__northkids {
      font-weight: 700;
      color: black;
      font-weight: bold;
      font-family: 'Roboto', sans-serif; }
  .textodivqs .fotoquienessomosnorthkids {
    height: 500px;
    width: 500px;
    border: solid 2px black;
    margin-left: 20px; }

@media (max-width: 767px) {
  .TituloQuienesSomos {
    text-align: center; }
  .textodivqs {
    flex-direction: column;
    flex-basis: 100%; }
    .textodivqs .fotoquienessomosnorthkids {
      height: 280px;
      width: 280px; }
    .textodivqs .InfoQuienesSomos {
      text-align: center;
      font-size: 15px;
      margin: 0;
      margin-bottom: 20px; } }

@media (max-width: 359px) {
  .TituloQuienesSomos {
    text-align: center;
    font-size: 34px;
    font-weight: 500; }
  .textodivqs {
    flex-direction: column;
    flex-basis: 100%; }
    .textodivqs .fotoquienessomosnorthkids {
      height: 250px;
      width: 250px;
      margin: auto;
      margin-left: 5px; }
    .textodivqs .InfoQuienesSomos {
      text-align: center;
      font-size: 15px;
      margin: 0;
      margin-bottom: 20px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .TituloQuienesSomos {
    text-align: center;
    font-size: 34px;
    font-weight: 500; }
  .textodivqs {
    flex-direction: column;
    flex-basis: 100%; }
    .textodivqs .fotoquienessomosnorthkids {
      height: 300px;
      width: 300px;
      margin-left: 240px; }
    .textodivqs .InfoQuienesSomos {
      text-align: center;
      font-size: 15px;
      margin: 0;
      margin-bottom: 20px; } }

.textocontactanos {
  font-size: 34px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: black;
  letter-spacing: 5px; }

.iconscontacto {
  height: 30px;
  width: 30px;
  margin-top: 6px; }

.datoscontacto {
  font-family: 'Roboto', sans-serif; }

.contactotodo {
  margin-bottom: 50px;
  padding-left: 40px;
  padding-right: 15px; }

.localizacion {
  height: 282px;
  width: 450px; }

.localizaciondiv {
  margin-top: 45px;
  height: 290px;
  border: solid black 4px; }

.divformulario {
  padding-left: 250px; }

.btn-primary {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid black; }

@media (max-width: 767px) {
  .textocontactanos {
    font-size: 24px;
    margin-left: 35px;
    margin-top: 20px; }
  .ulContactanos {
    list-style: none; }
  .iconscontacto {
    margin-left: 90px; }
  .datoscontacto {
    margin-top: 10px;
    margin-left: 35px; }
  .contactotodo {
    margin-bottom: 40px;
    padding: 0; }
  .localizacion {
    height: 340px;
    width: 270px; }
  .localizaciondiv {
    height: 350px;
    width: 280px;
    border: solid black 5px;
    margin: auto;
    margin-top: 50px; }
  .divformulario {
    margin-right: 245px;
    margin-top: 30px;
    margin-bottom: 80px; }
  .botonFormulario {
    text-align: center; }
  .textoFormulario {
    text-align: center; }
  .areaFormulario {
    text-align: center; } }

@media (max-width: 359px) {
  .textocontactanos {
    font-size: 24px;
    margin-left: 35px;
    margin-top: 20px; }
  .ulContactanos {
    list-style: none; }
  .iconscontacto {
    margin-left: 90px; }
  .datoscontacto {
    margin-top: 10px;
    margin-left: 35px; }
  .contactotodo {
    margin-bottom: 40px;
    padding: 0; }
  .localizacion {
    height: 340px;
    width: 270px; }
  .localizaciondiv {
    height: 350px;
    width: 280px;
    border: solid black 5px;
    margin: auto;
    margin-top: 50px; }
  .divformulario {
    margin-right: 245px;
    margin-top: 30px;
    margin-bottom: 80px; }
  .botonFormulario {
    text-align: center; }
  .textoFormulario {
    text-align: center; }
  .areaFormulario {
    text-align: center; } }

@media (min-width: 768px) and (max-width: 992px) {
  .textocontactanos {
    font-size: 38px;
    text-align: center;
    margin-top: 20px; }
  .ulContactanos {
    list-style: none; }
  .iconscontacto {
    height: 40px;
    width: 40px;
    margin-left: 180px; }
  .datoscontacto {
    margin-top: 10px;
    margin-left: 110px;
    font-size: 20px; }
  .contactotodo {
    margin-bottom: 40px;
    padding: 0; }
  .divformulario {
    margin-right: 245px;
    margin-top: 30px;
    margin-bottom: 80px; }
  .botonFormulario {
    text-align: center; }
  .textoFormulario {
    text-align: center;
    font-size: 20px; }
  .areaFormulario {
    text-align: center; } }

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.cuerpo {
  background-color: #FAE5D3; }

footer {
  background-color: black;
  padding: 50px 20px; }

footer .container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; }

footer .componentesfooter h3 {
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: 700px;
  font-family: 'Roboto', sans-serif;
  color: white; }

footer .contenido {
  list-style: none; }

footer .contenido a {
  text-decoration: none;
  color: white;
  line-height: 30px; }

footer .componentesfooter {
  flex-basis: 18%; }

.footerwpp {
  height: 30px;
  width: 30px;
  margin-left: 18px; }

.footerinsta {
  height: 30px;
  width: 30px;
  margin-left: 18px; }

.footermail {
  height: 30px;
  width: 30px;
  margin-left: 26px; }

.textofooter {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: -26px; }

@media only screen and (max-width: 767px) {
  footer .componentesfooter {
    flex-basis: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }
  footer .componentesfooter h3 {
    font-size: 15px; }
  .footertextosAbajo {
    margin-left: 40px; }
  .contenido {
    margin-left: 20px;
    font-size: 14px; }
  .minilogoInstagram {
    margin-left: 12px; }
  .textofooter {
    font-size: 11.5px;
    margin-top: 10px;
    margin-left: 1px; }
  .footerContactos {
    margin-right: 12px;
    padding-right: 5px; }
  .footerinsta {
    width: 25px;
    height: 25px; }
  .footerwpp {
    width: 25px;
    height: 25px; }
  .footermail {
    width: 25px;
    height: 25px; } }

@media only screen and (max-width: 359px) {
  footer .componentesfooter {
    flex-basis: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }
  footer .componentesfooter h3 {
    font-size: 15px; }
  .footertextosAbajo {
    margin-left: 40px; }
  .contenido {
    margin-left: 20px;
    font-size: 14px; }
  .minilogoInstagram {
    margin-left: 12px; }
  .textofooter {
    font-size: 11.5px;
    margin-top: 10px; }
  .footerContactos {
    margin-right: 12px;
    padding-right: 5px; }
  .footerinsta {
    width: 25px;
    height: 25px; }
  .footerwpp {
    width: 25px;
    height: 25px; }
  .footermail {
    width: 25px;
    height: 25px; } }

@media (min-width: 768px) and (max-width: 992px) {
  footer .componentesfooter h3 {
    font-size: 17px; } }
