.cabecera {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap; }
  .cabecera .cabecera__imagen {
    margin: 1px auto;
    align-self: center;
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 20px; }
  .cabecera .navbar {
    padding: 2px; }
    .cabecera .navbar .nav-item {
      padding: 0px 40px; }
      .cabecera .navbar .nav-item .nav-link {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: "Montserrat", sans-serif;
        color: #c0bdbd;
        text-decoration: none; }
      .cabecera .navbar .nav-item .active {
        color: white; }
  .cabecera .textoinicio {
    text-align: center; }

#carouselExampleDark {
  width: 550px;
  height: 600px;
  border: solid black 3px;
  margin: auto;
  margin-top: 20px; }

.instagram__publicacion {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 80px; }

.instagramlogomed {
  height: 90px;
  width: 110px;
  margin-top: 250px;
  padding-left: 10px;
  padding-right: 20px;
  margin-right: 60px;
  margin-left: 20px; }

.textoseguinos {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 900;
  margin-top: 270px; }

.instagrammedia {
  margin-bottom: 100px; }

.textocarousel {
  color: white;
  font-size: 45px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000; }

.descripcionTextocarousel {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000; }

.btn-dark {
  display: none; }

@media only screen and (max-width: 780px) {
  #carouselExampleDark {
    width: 360px;
    height: 392px;
    border: solid black 3px;
    margin: auto;
    margin-top: 20px; }
  .instagram__publicacion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px; }
  .instagramlogomed {
    height: 70px;
    width: 90px;
    margin: auto; }
  .textoseguinos {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 900;
    margin: auto; }
  .instagrammedia {
    width: 350px;
    height: 400px;
    margin: auto;
    margin-bottom: 150px;
    margin-top: 50px; }
  .btn-dark {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    padding: 20; }
  .productosBoton {
    text-decoration: none; } }

@media only screen and (max-width: 359px) {
  #carouselExampleDark {
    width: 250px;
    height: 272px;
    border: solid black 3px;
    margin: auto;
    margin-top: 20px; }
  .instagram__publicacion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px; }
  .instagramlogomed {
    height: 50px;
    width: 80px;
    margin: auto; }
  .textoseguinos {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 900;
    margin: auto; }
  .instagrammedia {
    width: 150px;
    height: 200px;
    margin: auto;
    margin-bottom: 350px;
    margin-top: 50px;
    margin-right: 200px; }
  .btn-dark {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    padding: 20; }
  .productosBoton {
    text-decoration: none; } }

.preciogaleria {
  text-align: center;
  font-family: 'Montserrat', sans-serif; }

.nombreproducto {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px; }

.nombreproducto:hover {
  color: #7E4510;
  cursor: pointer;
  text-decoration: underline; }

.precioproducto {
  font-size: 21px;
  font-weight: 900;
  text-align: center;
  font-family: 'Montserrat', sans-serif; }

#galeria img {
  width: 100%;
  height: 350px;
  border: solid 3px black; }

#galeria .col-lg-4 {
  margin: 0;
  padding: 25px; }

.listaproductos {
  display: block;
  margin-top: 70px; }

.listaproductos li {
  font-size: 16px;
  text-align: left;
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  line-height: 30px;
  letter-spacing: 0px;
  color: black;
  opacity: .7;
  transition: .3s ease opacity; }

.listaproductos li:hover {
  opacity: 1;
  cursor: pointer; }

.talles {
  margin-top: 100px;
  text-align: left; }

.tallestexto {
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px; }

.categorias {
  text-align: left; }

.categoriastexto {
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px; }

.container {
  padding: 45px 20px; }

.veranoinvierno {
  margin-top: 30px;
  text-align: center; }
  .veranoinvierno .verano:hover {
    border: solid 4px black;
    background-color: black;
    color: white;
    margin: 10px;
    text-align: center;
    padding: 4px;
    cursor: pointer; }
  .veranoinvierno .invierno:hover {
    border: solid 4px black;
    background-color: black;
    color: white;
    margin: 10px;
    text-align: center;
    padding: 4px;
    cursor: pointer; }

#galeriacolecciones img {
  width: 100%;
  height: 350px; }
  #galeriacolecciones img:hover {
    border: 3px solid black;
    cursor: pointer; }

#galeriacolecciones .col-lg-4 {
  margin: 0;
  padding: 25px; }

.TituloQuienesSomos {
  text-align: left;
  font-size: 34px;
  color: white;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  padding: 50px;
  text-decoration: underline 4px white; }

.textodivqs {
  display: flex;
  justify-content: center;
  margin: 30px;
  flex-direction: row; }
  .textodivqs .InfoQuienesSomos {
    text-align: left;
    font-size: 18px;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-top: 160px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px; }
    .textodivqs .InfoQuienesSomos .texto__northkids {
      font-weight: 700;
      color: black;
      font-weight: bold;
      font-family: 'Roboto', sans-serif; }
  .textodivqs .fotoquienessomosnorthkids {
    height: 500px;
    width: 500px;
    border: solid 2px black;
    margin-left: 20px; }

.quienessomosContenedor {
  background-image: url("../imagenes/ropaquienessomos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  opacity: 0.8; }

@media (max-width: 768px) {
  .textodivqs {
    display: flex;
    justify-content: center;
    margin: 30px;
    flex-direction: column;
    flex-basis: 100%; }
    .textodivqs .fotoquienessomosnorthkids {
      height: 300px;
      width: 300px;
      border: solid 2px black; }
    .textodivqs .InfoQuienesSomos {
      text-align: center;
      font-size: 15px;
      color: black;
      font-family: 'Roboto', sans-serif;
      margin: 0;
      margin-bottom: 20px; } }

.textocontactanos {
  font-size: 34px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: black;
  letter-spacing: 5px; }

.iconscontacto {
  height: 30px;
  width: 30px;
  margin-top: 6px; }

.datoscontacto {
  font-family: 'Roboto', sans-serif; }

.contactotodo {
  margin-bottom: 50px;
  padding-left: 40px;
  padding-right: 15px; }

.localizacion {
  height: 280px;
  width: 450px; }

.localizaciondiv {
  margin-top: 55px; }

.divformulario {
  padding-left: 250px; }

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .localizacion {
    height: 250px;
    width: 300px; }
  .divformulario {
    padding-left: 20px;
    margin-bottom: 20px; } }

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.cuerpo {
  background-color: #FAE5D3; }

footer {
  background-color: black;
  padding: 50px 20px; }

footer .container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; }

footer .componentesfooter h3 {
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: 700px;
  font-family: 'Roboto', sans-serif;
  color: white; }

footer .contenido {
  list-style: none; }

footer .contenido a {
  text-decoration: none;
  color: white;
  line-height: 30px; }

footer .componentesfooter {
  flex-basis: 18%; }

.footerwpp {
  height: 30px;
  width: 30px;
  margin-left: 18px; }

.footerinsta {
  height: 30px;
  width: 30px;
  margin-left: 18px; }

.footermail {
  height: 30px;
  width: 30px;
  margin-left: 26px; }

.textofooter {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: -26px; }

@media only screen and (max-width: 768px) {
  footer .componentesfooter {
    flex-basis: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }
  .footertextosAbajo {
    margin-left: 50px; }
  .contenido {
    margin-left: 40px; }
  .minilogoInstagram {
    margin-left: 12px; }
  .textofooter {
    font-size: 15px; }
  .footerContactos {
    margin-left: 12px; } }

@media only screen and (max-width: 359px) {
  footer .componentesfooter {
    flex-basis: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }
  footer .componentesfooter h3 {
    font-size: 15px; }
  .footertextosAbajo {
    margin-left: 40px; }
  .contenido {
    margin-left: 20px;
    font-size: 14px; }
  .minilogoInstagram {
    margin-left: 12px; }
  .textofooter {
    font-size: 11.5px;
    margin-top: 5px; }
  .footerContactos {
    margin-left: 12px; }
  .footerinsta {
    width: 25px;
    height: 25px; }
  .footerwpp {
    width: 25px;
    height: 25px; }
  .footermail {
    width: 25px;
    height: 25px; } }
