.veranoinvierno{
    margin-top: 30px;
    text-align: $text-align;

    .verano:hover{
        border: $border-tipo 4px map-get($colores, color-secundario);
        background-color: map-get($colores, color-secundario);
        color: map-get($colores, color-tercero);
        margin: 10px;
        text-align: $text-align;
        padding: 4px;
        cursor: pointer;
    }
    .invierno:hover{
        border: $border-tipo 4px map-get($colores, color-secundario);
        background-color: map-get($colores, color-secundario);
        color: map-get($colores, color-tercero);
        margin: 10px;
        text-align: $text-align;
        padding: 4px;
        cursor: pointer;
    }
}

#galeriacolecciones img{
    width: 100%;
    height: 350px;

    &:hover{
        border: 3px $border-tipo rgb(192, 91, 7);
        cursor: pointer;
    }
}

#galeriacolecciones .col-lg-4{
    margin: 0;
    padding: 25px;
}

@media only screen and (max-width: 359px){
    #galeriacolecciones .fotosColecciones{
        width: 100%;
        height: 280px;
    }
}
