.textocontactanos{
    font-size: 34px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: map-get($colores, color-secundario);
    letter-spacing: 5px;
}

.iconscontacto{
    height: 30px;
    width: 30px;
    margin-top: 6px;
}

.datoscontacto{
    font-family: 'Roboto', sans-serif;
}

.contactotodo{
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 15px;
}


.localizacion{
    height: 282px;
    width: 450px;
}

.localizaciondiv{
    margin-top: 45px;
    height: 290px;
    border: solid black 4px;
}

.divformulario{
    padding-left: 250px;
}

.btn-primary{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid black;
}

@media (max-width:767px){
    .textocontactanos{
        font-size: 24px;
        margin-left: 35px;
        margin-top: 20px;
    }

    .ulContactanos{
        list-style: none;
    }

    .iconscontacto{
        margin-left: 90px;
    }
    
    .datoscontacto{
        margin-top: 10px;
        margin-left: 35px;
    }
    
    .contactotodo{
        margin-bottom: 40px;
        padding: 0;
    }
    
    
    .localizacion{
        height: 340px;
        width: 270px;
    }
    
    .localizaciondiv{
        height: 350px;
        width: 280px;
        border: solid black 5px;
        margin: auto;
        margin-top: 50px;
    }
    
    .divformulario{
    margin-right: 245px;
    margin-top: 30px;
    margin-bottom: 80px;
    }

    .botonFormulario{
        text-align: center;
    }

    .textoFormulario{
        text-align: center;
    }

    .areaFormulario{
        text-align: center;
    }
}

@media (max-width: 359px){
    .textocontactanos{
        font-size: 24px;
        margin-left: 35px;
        margin-top: 20px;
    }

    .ulContactanos{
        list-style: none;
    }

    .iconscontacto{
        margin-left: 90px;
    }
    
    .datoscontacto{
        margin-top: 10px;
        margin-left: 35px;
    }
    
    .contactotodo{
        margin-bottom: 40px;
        padding: 0;
    }
    
    
    .localizacion{
        height: 340px;
        width: 270px;
    }
    
    .localizaciondiv{
        height: 350px;
        width: 280px;
        border: solid black 5px;
        margin: auto;
        margin-top: 50px;
    }
    
    .divformulario{
    margin-right: 245px;
    margin-top: 30px;
    margin-bottom: 80px;
    }

    .botonFormulario{
        text-align: center;
    }

    .textoFormulario{
        text-align: center;
    }

    .areaFormulario{
        text-align: center;
    }
}

@media (min-width:768px) and (max-width: 992px){

    .textocontactanos{
        font-size: 38px;
        text-align: center;
        margin-top: 20px;
    }

    .ulContactanos{
        list-style: none;
    }

    .iconscontacto{
        height: 40px;
        width: 40px;
        margin-left: 180px;
    }
    
    .datoscontacto{
        margin-top: 10px;
        margin-left: 110px;
        font-size: 20px;
    }
    
    .contactotodo{
        margin-bottom: 40px;
        padding: 0;
    }

    .divformulario{
        margin-right: 245px;
        margin-top: 30px;
        margin-bottom: 80px;
        }

        .botonFormulario{
            text-align: center;
        }
    
        .textoFormulario{
            text-align: center;
            font-size: 20px;
        }
    
        .areaFormulario{
            text-align: center;
        }
}

