.textoiniciocontacto{
    text-align: center;
}




.textocontactanos{
    font-size: 34px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #2a2a2a;
    letter-spacing: 5px;
}

.iconscontacto{
    height: 30px;
    width: 30px;
    margin-top: 6px;
}

.datoscontacto{
    font-family: 'Roboto', sans-serif;
}

.contactotodo{
    margin-bottom: 50px;
}

.localizacion{
    height: 240px;
    width: 450px;
}

.localizaciondiv{
    margin-top: 55px;
}