.textocontactanos{
    font-size: 34px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: map-get($colores, color-secundario);
    letter-spacing: 5px;
}

.iconscontacto{
    height: 30px;
    width: 30px;
    margin-top: 6px;
}

.datoscontacto{
    font-family: 'Roboto', sans-serif;
}

.contactotodo{
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 15px;
}


.localizacion{
    height: 280px;
    width: 450px;
}

.localizaciondiv{
    margin-top: 55px;
}

.divformulario{
    padding-left: 250px;
}

@media only screen and (min-width:360px) and (max-width:768px){
    .localizacion{
        height: 250px;
        width: 300px;

    }
    .divformulario{
        padding-left: 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 359px){
    .textocontactanos{
        font-size: 24px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        color: map-get($colores, color-secundario);
        letter-spacing: 5px;
        margin-left: 35px;
    }
    
    .iconscontacto{
        height: 30px;
        width: 30px;
        margin-top: 6px;
    }
    
    .datoscontacto{
        font-family: 'Roboto', sans-serif;
    }
    
    .contactotodo{
        margin-bottom: 40px;
        margin: auto;
    }
    
    
    .localizacion{
        height: 350px;
        width: 280px;
    }
    
    .localizaciondiv{
        border: solid black 3px;
        margin: auto;
    }
    
    .divformulario{
    margin: auto;
    }
}
