footer{
    background-color: map-get($colores, color-secundario);
    padding: 50px 20px;
}

footer .container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    @include flexbox(space-between);
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .componentesfooter h3{
    font-size: 20px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-weight: 700px;
    font-family: 'Roboto', sans-serif;
    color: map-get($colores, color-tercero);
}

footer .contenido{
    list-style: none;
}

footer .contenido a{
    text-decoration: none;
    color: map-get($colores, color-tercero);
    line-height: 30px;
}


footer .componentesfooter{
    flex-basis: 18%;
}

.footerwpp{
    height: 30px;
    width: 30px;
    margin-left: 18px;
}

.footerinsta{
    height: 30px;
    width: 30px;
    margin-left: 18px;
}

.footermail{
    height: 30px;
    width: 30px;
    margin-left: 26px;
}

.textofooter{
    color: map-get($colores, color-tercero);
    font-family: 'Roboto', sans-serif;
    margin-left: -26px;
}

@media only screen and (max-width: 767px){
    footer .componentesfooter{
        flex-basis: 80%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footertextosAbajo{
        margin-left: 50px;
    }

    .contenido{
        margin-left: 40px;
    }

    .minilogoInstagram{
        margin-left: 12px;
    }

    .textofooter{
        font-size: 15px;
    }

    .footerContactos{
        margin-left: 12px;
    }
}

@media only screen and (max-width: 359px){
    footer .componentesfooter{
        flex-basis: 80%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    footer .componentesfooter h3{
        font-size: 15px;
    }

    .footertextosAbajo{
        margin-left: 40px;
    }

    .contenido{
        margin-left: 20px;
        font-size: 14px;
    }

    .minilogoInstagram{
        margin-left: 12px;
    }

    .textofooter{
        font-size: 11.5px;
        margin-top: 10px;
    }

    .footerContactos{
        margin-right: 12px;
        padding-right: 5px;
    }

    .footerinsta{
        width: 25px;
        height: 25px;
    }

    .footerwpp{
        width: 25px;
        height: 25px;
    }

    .footermail{
        width: 25px;
        height: 25px;
    }
}

















