.footer{
    position: relative;
    bottom: 0;
    height: 200px;
    @include flexbox(space-around);
    align-items: center;
    background: map-get($colores, color-secundario);
    width: 100%;
    margin-bottom: 0;
    background-color: map-get($colores, color-secundario);

    .textofooter{
        font-family: $fuente-secundaria;
        color: map-get($colores, color-tercero);
        margin-bottom: 20px;
    }

    .barraNavegacionFooter__lista{
        list-style: $list-style;
        text-decoration: $text-decoration;
        @extend %footerletra;

        .footer__item__ancord{
            text-decoration: $text-decoration;
            color: map-get($colores, color-tercero);
            line-height: 20px;    
        }
    }

    .footer__redessociales__lista{
        list-style: $list-style;

        .footer__lista__instagramchico{
            height: 30px;
            width: 30px;
        }
    }

    .footer__contactanos__lista{
        list-style: $list-style;

        .footer__lista__whatsappchico{
            height: 20px;
            width: 20px;

            .textocelular{
                @extend %footerletra;
                color: map-get($colores, color-tercero);
            }
        }

        .footer__lista__mailchico{
            height: 25px;
            width: 25px;
            margin-top: 10px;
            margin-bottom: 1px;

            .textomail{
                @extend %footerletra;
                color: map-get($colores, color-tercero);
            }
        }
    }
}


















