.cabecera{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .cabecera__imagen{
        margin: 1px auto;
        align-self: center;
        display: block;
        max-width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .navbar{
        padding: 2px;

        .nav-item{
            padding: 0px 40px;

            .nav-link{
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 1px;
                font-family: $fuente-principal;
                color: $color-blanco;
                text-decoration: $text-decoration;
            }
        }
    }

    .textoinicio{
        text-align: $text-align;
    }

    .veranoinvierno{
        margin-top: 30px;
        text-align: $text-align;

        .verano{
            border: $border-tipo 4px $color-secundario;
            background-color: $color-secundario;
            color: $color-blanco;
            margin-right: 10px;
            text-align: $text-align;
            padding: 4px;
        }
    }
}











