.cabecera{
    @include flexbox(space-evenly);
    flex-direction: column;
    flex-wrap: wrap;

    .cabecera__imagen{
        margin: 1px auto;
        align-self: center;
        display: block;
        max-width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .navbar{
        padding: 2px;

        .nav-item{
            padding: 0px 40px;

            .nav-link{
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 1px;
                font-family: $fuente-principal;
                color: rgb(192, 189, 189);
                text-decoration: $text-decoration;
            }

            .active {
                color: white;
            }
        }
    }

    .textoinicio{
        text-align: $text-align;
    }
}











