
.imageninicioprimaria{
    height: 600px;
    width: 500px;
    border: solid 2px black;
}

.imageniniciosecundaria{
    height: 300px;
    width: 300px;
    border: solid 2px black;
}

.imageniniciotercera{
    height: 300px;
    width: 300px;
    border: solid 2px black;
}

.inicio{
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 70px;
}

.divimagenprimaria{
align-items: center;
}
