.galeriaproductosdiv{
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px 400px;
    align-items: center;
    gap: 50px 30px;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 40px;
}

.galeria__imagen__temporada{
    height: 600px;
    width: 500px;
    border: solid 3px black;
}

.galeria__imagen{
    height: 300px;
    width: 300px;
    margin: 0px 0px 150px 0px;
    border: solid 3px black;
}

.seguinosinstagram{
text-align: center;
}


.textoseguinos{
    font-weight: 600px;
    letter-spacing: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    color: black;
}

.main__instagramlogomed{
    height: 85px;
    width: 85px;
}

.instagram__publicacion{
    display: flex;
    justify-content: center;
}