.TituloQuienesSomos {
    text-align: left;
    font-size: 34px;
    color: map-get($colores, color-tercero);
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    padding: 50px;
    text-decoration: underline 4px map-get($colores, color-tercero);
    }

.textodivqs{
    @include flexbox(center);
    margin: 30px;
    flex-direction: row;

    .InfoQuienesSomos {
        text-align: left;
        font-size: 18px;
        color: map-get($colores, color-secundario);
        font-family: 'Roboto', sans-serif;
        margin-top: 160px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 10px;
    
        .texto__northkids{
            font-weight: 700;
            color: map-get($colores, color-secundario);
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
        }
    }

    .fotoquienessomosnorthkids{
        height: 500px;
        width: 500px;
        border: solid 2px map-get($colores, color-secundario);
        margin-left: 20px;
    }
}

.quienessomosContenedor{
    background-image: url("../imagenes/ropaquienessomos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    opacity: 0.8;
}

@media (max-width:768px){
    .textodivqs{
        @include flexbox(center);
        margin: 30px;
        flex-direction: column;
        flex-basis: 100%;

        .fotoquienessomosnorthkids{
            height: 300px;
            width: 300px;
            border: solid 2px map-get($colores, color-secundario);
        }
        .InfoQuienesSomos {
            text-align: center;
            font-size: 15px;
            color: map-get($colores, color-secundario);
            font-family: 'Roboto', sans-serif;
            margin: 0;
            margin-bottom: 20px;
        }
    }

}