$border-tipo: solid;
$fuente-principal: 'Montserrat', sans-serif;
$fuente-secundaria: 'Roboto', sans-serif;
$list-style: none;
$text-decoration: none;
$text-align: center;


$colores:(
    color-principal: #FAE5D3,
    color-secundario: black,
    color-tercero: white,
);

%footerletra {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
};

@mixin flexbox ($justify){
    display: flex;
    justify-content: $justify;
}

@mixin precioproductos{
    font-size: 21px;
    font-weight: 900;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

@mixin textocategoriaproductos{
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

@mixin carrouseltexto{
    font-family: 'Montserrat', sans-serif;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    color: white;
}