$color-principal: #FAE5D3;
$color-secundario: black;
$color-blanco: white;
$border-tipo: solid;
$fuente-principal: 'Montserrat', sans-serif;
$fuente-secundaria: 'Roboto', sans-serif;
$list-style: none;
$text-decoration: none;
$text-align: center;